<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/var/log/foodTracing-removeDupli/removeDupli-info.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss}] [%C{1}:%M:%L] %m%n" />
		</layout>
	</appender>
	<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/var/log/foodTracing-removeDupli/removeDupli-error.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c] [%p] [%l] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	<!--通过<logger></logger>的定义可以将各个包中的类日志输出到不同的日志文件中 
	<logger name="log4j.logger.org.springframework" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="log4j.logger.org.hibernate" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>
	-->
	<logger name="log4j.logger.org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root>
		<level value="INFO"/>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR" />
	</root>
</log4j:configuration>